.faq {
    width: 80%;
    margin: 0 auto;
  }

.question {

  font-weight: normal;
  position: relative;
  background: var(--cyan-to-dark-blue);
  margin: 0 auto;
  opacity: .9;
  padding: 10px 10px 10px 50px;
  display: block;
  cursor: pointer;
  text-shadow:-1px 1px 0px #4892c7, -2px 2px 0px #2a4163;
}
.question h3{
    color:#fff;
    font-size:16px;
    margin: 0 auto;
    padding: 0;

}
.answers {
  overflow:hidden;
  height:0;
  opacity:0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
  background-color:var(--light-blue)
}

.questions:checked ~ .answers{
  height: auto;
  display:block;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 1.8em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}

.answers b{
    font-size:14px;
}

.res{
  width:100%;
  border-bottom: 2px double var(--cyan-to-dark-blue);
  display:flex;
  flex-flow:wrap;
  justify-content: center;
  align-items: center;
  margin-bottom:14px;
  margin-top:14px;
}
.res > div {
  max-width:78%;
  padding-bottom:28px;
  padding-right:2%;
}
.res > a {
  max-width:19%;
  margin-top:0;
  height:max-content;
  padding-bottom:14px;
  float:right;
}

.res > div > h3{
  margin-top:0;
  margin: 0 auto;
  width:100%;
  padding-bottom:0;
  text-decoration: underline;
}
.res > div > h3+span{
  font-size:14px;
  margin: 0 auto;
}
.res > div > p{
  font-size:14px;
  margin: 0 auto;
  margin-top:10px;
  text-align:justify;
}

.cta{
  height:30px;
  width:auto;
  opacity:.85;
  margin-top:14px;
  padding:5px 8px 5px 8px;
  background-color:var(--natural-yellow);
  color:rgba(0,0,0,0.8);
  border-color:var(--natural-yellow)
}
@media (max-width: 768px){
    .faq {
        width: 96%;
        margin: 0 auto;
      }
      .res > a {
        min-width:50vw;
      } 
      
      .res > div{
        max-width:98%;
      }
      .res > div > h3{
        font-size:24px;
        letter-spacing: .51px;
        padding-bottom: 10px;
        font-weight:900
      }
      .res > div > h3+span{
        font-size:18px;
        opacity:.8;
      }
      .res > div > p{
        font-size:20px;
        line-height:28px;
      }

      .res > div > center > a{
        text-transform: uppercase;
        font-size:20px;
        padding: 20px 20px 20px 20px;

      }
    
}