{% extends "layouts/base.njk" %}

{% block infoSections %}
<section id="Overview"><h2>Overview</h2><div id="overview">{{overview | safe}}</div></section>
<section id="Crime-and-Safety"><h2>Crime and Safety</h2><div id="crimeandsafety">{{crimeandsafety | safe}}</div></section>
<section id="Thefts-and-Robberies"><h2>Thefts and Robberies</h2><div id="theftsandrobberies">{{theftsandrobberies | safe}}</div></section>
<section id="Violence"><h2>Violent Crimes</h2><div id="violentcrimes">{{violentcrimes | safe}}</div></section>
<section id="Organized-Crime"><h2>Organized Crime &amp; Drug-related Crimes</h2><div id="organizedcrime">{{organizedcrime | safe}}</div></section>
<section id="Accidents"><h2>Accidents</h2><div id="accidents">{{accidents | safe}}</div></section>
<section id="FAQs"><h2>Frequently Asked Questions</h2><div id="faqs">{{faqs | safe}}</div></section>
<section id="Discover"><h2>Discover</h2><div id="promo">{{promo | safe}}</div></section>
{% endblock %}
