{% extends "layouts/base.njk" %}

{% block infoSections %}
<section id="Overview"><h2>Overview</h2><div id="overview">{{overview | safe}}</div></section>
<section id="Climate"><h2>Climate</h2><div id="climate">{{climate | safe}}</div></section>
<section id="Cost-of-Living"><h2>Cost of Living</h2><div id="CoL">{{col | safe}}</div></section>
<section id="Quality-of-Life"><h2>Quality of Life</h2>
  <section id="Healthcare"><h3>Healthcare</h3><div id="healthcare">{{healthcare | safe}}</div></section>
  <section id="Education"><h3>Education</h3><div id="education">{{education | safe}}</div></section>
  <section id="Leisure"><h3>Leisure</h3><div id="leisure">{{leisure | safe}}</div></section>
  <section id="Crime-and-Safety"><h3><a href="{{crimeUrl}}">Crime and Safety</a></h3><div id="crimeandsafety">{{crimeandsafety | safe}}</div></section>
  <section id="Transport"><h3>Transport</h3><div id="transport">{{transport | safe}}</div></section>
</section>
<section id="Discover"><h2>Discover</h2><div id="promo">{{promo | safe}}</div></section>
{% endblock %}
