{% extends "layouts/simple-page.njk" %}

{% block content %}
<figure>
  <img src="https://expiter.com/img/regions.webp" alt="Regions of Italy" class="img-fluid rounded-3">
</figure>

<section id="List-of-Regions-in-Italy">
  <h2>List of Regions in Italy</h2>
  <div class="table-responsive">
    <table class="table table-sm table-striped align-middle">
      <thead>
        <tr>
          <th>Name</th><th>Population</th><th>Size (km²)</th><th>Density</th>
          <th>Provinces</th><th>Towns</th><th>Capital</th>
        </tr>
      </thead>
      <tbody>
        <tr><th>Abruzzo</th><td>1,273,660</td><td>10,832</td><td>118</td><td>4</td><td>305</td><td><a href="https://expiter.com/province/l-aquila/">L'Aquila</a></td></tr>
        <tr><th>Basilicata</th><td>539,999</td><td>10,073</td><td>54</td><td>2</td><td>131</td><td><a href="https://expiter.com/province/potenza/">Potenza</a></td></tr>
        <tr><th>Calabria</th><td>1,844,586</td><td>15,222</td><td>121</td><td>5</td><td>404</td><td><a href="https://expiter.com/province/catanzaro/">Catanzaro</a></td></tr>
        <tr><th>Campania</th><td>5,590,681</td><td>13,671</td><td>409</td><td>5</td><td>550</td><td><a href="https://expiter.com/province/napoli/">Napoli</a></td></tr>
        <tr><th>Emilia-Romagna</th><td>4,431,816</td><td>22,445</td><td>197</td><td>9</td><td>330</td><td><a href="https://expiter.com/province/bologna/">Bologna</a></td></tr>
        <tr><th>Friuli-Venezia Giulia</th><td>1,197,295</td><td>7,932</td><td>151</td><td>4</td><td>215</td><td><a href="https://expiter.com/province/trieste/">Trieste</a></td></tr>
        <tr><th>Lazio</th><td>5,715,190</td><td>17,232</td><td>332</td><td>5</td><td>378</td><td><a href="https://expiter.com/province/roma/">Roma</a></td></tr>
        <tr><th>Liguria</th><td>1,507,438</td><td>5,416</td><td>278</td><td>4</td><td>234</td><td><a href="https://expiter.com/province/genova/">Genova</a></td></tr>
        <tr><th>Lombardia</th><td>9,965,046</td><td>23,863</td><td>418</td><td>12</td><td>1,506</td><td><a href="https://expiter.com/province/milano/">Milano</a></td></tr>
        <tr><th>Marche</th><td>1,489,789</td><td>9,401</td><td>158</td><td>5</td><td>225</td><td><a href="https://expiter.com/province/ancona/">Ancona</a></td></tr>
        <tr><th>Molise</th><td>290,769</td><td>4,460</td><td>65</td><td>2</td><td>136</td><td><a href="https://expiter.com/province/campobasso/">Campobasso</a></td></tr>
        <tr><th>Piemonte</th><td>4,252,279</td><td>25,387</td><td>168</td><td>8</td><td>1,181</td><td><a href="https://expiter.com/province/torino/">Torino</a></td></tr>
        <tr><th>Puglia</th><td>3,912,166</td><td>19,541</td><td>200</td><td>6</td><td>257</td><td><a href="https://expiter.com/province/bari/">Bari</a></td></tr>
        <tr><th>Sardegna</th><td>1,579,181</td><td>24,099</td><td>66</td><td>5</td><td>377</td><td><a href="https://expiter.com/province/cagliari/">Cagliari</a></td></tr>
        <tr><th>Sicilia</th><td>4,801,468</td><td>25,833</td><td>186</td><td>9</td><td>391</td><td><a href="https://expiter.com/province/palermo/">Palermo</a></td></tr>
        <tr><th>Toscana</th><td>3,676,285</td><td>22,987</td><td>160</td><td>10</td><td>273</td><td><a href="https://expiter.com/province/firenze/">Firenze</a></td></tr>
        <tr><th>Trentino-Alto Adige</th><td>1,077,932</td><td>13,605</td><td>79</td><td>2</td><td>282</td><td><a href="https://expiter.com/province/trento/">Trento</a></td></tr>
        <tr><th>Umbria</th><td>859,572</td><td>8,464</td><td>102</td><td>2</td><td>92</td><td><a href="https://expiter.com/province/perugia/">Perugia</a></td></tr>
        <tr><th>Valle d'Aosta</th><td>123,337</td><td>3,261</td><td>38</td><td>1</td><td>74</td><td><a href="https://expiter.com/province/aosta/">Aosta</a></td></tr>
        <tr><th>Veneto</th><td>4,854,633</td><td>18,345</td><td>265</td><td>7</td><td>563</td><td><a href="https://expiter.com/province/venezia/">Venezia</a></td></tr>
      </tbody>
    </table>
  </div>
</section>

<section id="About-Italian-Regions">
  <h2>About Italian Regions</h2>
  <p>There are 20 regions in Italy. The region of <b>Lombardia</b> is the largest by population with a total of 9,965,046 inhabitants, whereas <b>Sicily</b> is the largest by size with a territory of 25,832.55 km².</p>
  <p>The <b>Lombardia</b> region also contains the greatest number of Italian towns and provinces, with a total of 1,506 municipalities.</p>
  <p>The smallest and least populated region is <b>Aosta Valley</b> with an area of 3,260.85 km², 74 towns and a population of 123,337.</p>
  <p>The Capital of Italy, <b><a href="https://expiter.com/province/roma/">Rome</a></b>, is located in the <b>Lazio</b> region.</p>
</section>
{% endblock %}
