{% extends "layouts/simple-page.njk" %}

{% block content %}
<p>Below, a curated list of useful resources for expats, exchange students, remote workers and travellers living in Italy.</p>
<p>These include: health insurance services, online banks, books, Italian language courses and apps, etc.</p>

<p><span id="disclaimer">This page contains affiliate links. As part of the Amazon Associates programme, we may earn a commission on qualified purchases.</span></p>

<section id="Health-and-Travel-Insurance">
  <h2>Health &amp; Travel Insurance</h2>
  <p>For tourists, digital nomads, and expats in Italy, we highly recommend considering <b><a href="https://genki.world/with/uproot" rel="nofollow sponsored" target="_blank">Genki Health Insurance</a></b> for your insurance needs.</p>
  <p>If you're a tourist or a digital nomad who travels frequently, Genki Explorer is an excellent choice. This policy offers comprehensive coverage for medical treatment worldwide, including COVID-19, and is tailored for individuals aged between 0 and 69 years, for any travel destination, up to 2 years.</p>
  <figure>
    <a href="https://genki.world/with/uproot" target="_blank" rel="nofollow sponsored">
      <img src="https://expiter.com/img/tools/genki-insurance-comparison.webp" alt="Genki Insurance Comparison">
    </a>
    <figcaption><a href="https://genki.world/with/uproot" target="_blank" rel="nofollow sponsored">Learn more</a></figcaption>
  </figure>
  <p>For expats and long-term travelers residing in Italy, Genki Resident is a more suitable option. It provides complete health coverage, including dental, mental, and pregnancy care, along with additional services like telemedicine and global doctor network support.</p>
  <p>Both Genki Explorer and Genki Resident offer flexible plans that can be tailored to your specific needs, ensuring you have the right coverage during your stay in Italy. Choose Genki for reliable, comprehensive insurance coverage that adapts to your needs.</p>
  <div>
    <iframe width="100%" height="320" loading="lazy" style="background: transparent; border: none; max-width:680px"
      sandbox="allow-popups allow-popups-to-escape-sandbox allow-scripts"
      src="https://widgets.genki.world/calculator?with=uproot"></iframe>
  </div>
</section>

<section id="Banking">
  <h2>Banking</h2>
  <h3><a href="https://wise.com/invite/dic/pietror76" target="_blank">Wise (formerly TransferWise)</a></h3>
  <p><b>Multi-currency card and online money transfer with some of the lowest conversion fees.</b></p>
  <p>You can hold, send and receive money in over 50 currencies and convert between them at current exchange rate with a Wise electronic money account. It is one of the most convenient banking alternatives for frequent travelers and comes with a Wise debit card which can be used in most countries in Europe as well as the rest of the world.</p>
  <p><a target="_blank" href="https://wise.com/invite/dic/pietror76" class="btn btn-primary">Get Referral Bonus</a></p>
  <p><a href="https://wise.com/invite/dic/pietror76" target="_blank"><img src="https://expiter.com/img/wise.webp" alt="Best Online Bank for Expats in Italy - Wise"></a></p>

  <h3><a href="https://n26.com/r/pietror5156" target="_blank">N26 (Online Bank)</a></h3>
  <p><b>Online EU bank account in English.</b></p>
  <p>N26 is a German bank that allows you to create a bank account online in just a few minutes. They operate in many EU countries including Italy and allow you to create an Italian bank account in English. As there are no physical N26 branches, your finances can be managed entirely online via the N26 app. The account also comes with an N26 debit card.</p>
  <p><a target="_blank" href="https://n26.com/r/pietror5156" class="btn btn-primary">Get Referral Bonus</a></p>
  <p><a href="https://n26.com/r/pietror5156" target="_blank"><img src="https://expiter.com//img/N26.webp" alt="Best Online Bank for Expats in Italy - N26"></a></p>
</section>

<section id="Language-Learning">
  <h2>Language Learning</h2>
  <h3><a href="https://share.babbel.com/x/iRskCm" target="_blank">Babbel</a></h3>
  <p><b>Learn Italian with Online Courses and Games.</b></p>
  <p>One of the best language e-learning platforms out there, allows you to learn Italian at your own pace via website or app. Ideal to get started with short lessons and to practice your skills via interactive games, podcasts and stories. A total of 14 languages are offered, including Italian, German, French, Spanish, Portuguese, Russian and Turkish.</p>
  <p><a target="_blank" href="https://share.babbel.com/x/iRskCm" class="btn btn-primary">Get First Three Months Free</a></p>
  <p><a href="https://share.babbel.com/x/iRskCm" target="_blank"><img src="https://expiter.com//img/babbel.webp" alt="Babbel - Learn Italian Online"></a></p>
</section>

<section id="Books">
  <h2>Books</h2>

  <h3><a href="https://www.amazon.com/dp/B01N7OY6DM?&amp;tag=expiter-20" target="_blank">Living in Italy: the Real Deal &mdash; Hilarious Expat Adventures</a></h3>
  <p>by <a target="_blank" href="https://www.amazon.com/Stef-Smulders/e/B00OPVPTSS?&amp;tag=expiter-20">Stef Smulders</a></p>
  <p>Would you dare to follow your dream and move or retire to Italy to live La Dolce Vita? Have a Reality Check first! Stef &amp; Nico did take the leap, although their dog Sara had her doubts. Now from your comfortable armchair you can share in the hilarious &amp; horrendous adventures they experienced when they moved to Italy to start a bed and breakfast.</p>
  <p>For lovers of amusing travelogue memoirs who like a good laugh. And for those interested in practical advice on how to buy a house in Italy there is useful information along the way, pleasantly presented within the short stories. Glossary of Italian words included!</p>
  <p>
    <a class="btn btn-primary" target="_blank" href="https://www.amazon.com/Living-Italy-Hilarious-Expat-Adventures-ebook/dp/B01N7OY6DM?&amp;tag=expiter-20">🇮🇹 Check on Amazon.it</a>
    <a class="btn btn-primary" href="https://www.amazon.com/Living-Italy-Hilarious-Expat-Adventures-ebook/dp/B01N7OY6DM?&amp;tag=expiter-20" target="_blank">🇺🇸 Check on Amazon.com</a>
  </p>
  <p><a href="https://www.amazon.com/dp/B01N7OY6DM?&amp;tag=expiter-20" target="_blank"><img src="https://expiter.com/img/living-in-italy-book.webp" alt="Living in Italy: the Real Deal"></a></p>

  <h3><a target="_blank" href="https://www.amazon.com/dp/B0772RY9RD?&amp;tag=expiter-20">Understanding Italy: A practical and funny guide for expats</a></h3>
  <p>by <a target="_blank" href="https://www.amazon.com/s?i=digital-text&amp;rh=p_27%3ANadia+Plamadeala&amp;tag=expiter-20">Nadia Plamadeala</a></p>
  <p>A practical and funny guide that will give you many insights on Italian culture in 23 short stories. Greetings, local cultural peculiarities, dining habits, taboo topics, humour, bureaucracy, dating, friendship, nightlife, swear words, cultural archetypes, Italian proverbs &mdash; people's wisdom, how to find a job and a place to stay and how to avoid the culture shock, it is all explained briefly and efficiently.</p>
  <p>
    <a target="_blank" href="https://www.amazon.it/dp/B0772RY9RD?&amp;tag=expiter-21" class="btn btn-primary">🇮🇹 Check on Amazon.it</a>
    <a target="_blank" href="https://www.amazon.com/Understanding-Italy-practical-funny-expats-ebook/dp/B0772RY9RD?&amp;tag=expiter-20" class="btn btn-primary">🇺🇸 Check on Amazon.com</a>
  </p>
  <p><a target="_blank" href="https://www.amazon.com/dp/B0772RY9RD?&amp;tag=expiter-20"><img src="https://expiter.com/img/understanding-italy-book.webp" alt="Understanding Italy"></a></p>

  <h3><a href="https://www.amazon.com/dp/8854415839?&amp;tag=expiter-20" target="_blank">National Geographic Traveler Italy</a></h3>
  <p>by <a target="_blank" href="https://www.amazon.com/s?i=stripbooks&amp;rh=p_27%3ATim+Jepson&amp;tag=expiter-20">Tim Jepson</a> (Author), <a target="_blank" href="https://www.amazon.com/s?i=stripbooks&amp;rh=p_27%3AMatt+Propert&amp;tag=expiter-20">Matt Propert</a> (Photographer)</p>
  <p>Italy offers a perfect combination of art, culture, monuments, food, fashion, shopping and fun. The natural landscapes are unique in their variety and completely harmonized with human activity. This book takes its readers on a journey through the peninsula, in the company of one of the best-known Italian tourist guides. There are practical tips on organizing a tour, descriptions of the history and the culture of Italy, its art and artisan movements, and of course, the cuisine.</p>
  <p>The chapters of the guide will provide the traveler with a well-structured, untrammeled guide to the beauties of Italy, starting with the legendary capital Rome, and followed by the regional attractions.</p>
  <p>
    <a target="_blank" href="https://www.amazon.it/dp/8854415839?&amp;tag=expiter-21" class="btn btn-primary">🇮🇹 Check on Amazon.it</a>
    <a href="https://www.amazon.com/National-Geographic-Traveler-Italy-6th/dp/8854415839?&amp;tag=expiter-20" target="_blank" class="btn btn-primary">🇺🇸 Check on Amazon.com</a>
  </p>
  <p><a href="https://www.amazon.com/dp/8854415839?&amp;tag=expiter-20" target="_blank"><img src="https://expiter.com/img/national-geographic-italy-book.webp" alt="National Geographic Traveler Italy"></a></p>
</section>
{% endblock %}
