{% extends "layouts/simple-page.njk" %}

{% block content %}
<p>The United States maintains several consular offices across Italy to provide a range of services to American citizens and facilitate trade and diplomatic relations. These offices are categorized by the regions they serve.</p>

<figure class="text-center my-3">
  <img title="List of US Consulate Offices in Italy" alt="US Consulates in Italy" src="https://expiter.com/img/tools/us-consulate-italy.webp" width="250" loading="lazy" class="img-fluid">
</figure>

<section id="Northern-Italy">
  <h2>Northern Italy</h2>

  <h3>U.S. Consulate General Milan</h3>
  <p><b>Address:</b> Via Principe Amedeo, 2/10, 20121 Milano MI, Italy<br>
  <b>Phone:</b> (+39) 02-290-351<br>
  <b>Emergency After-Hours Phone:</b> (+39) 02-290-351<br>
  <b>Email:</b> uscitizensmilan@state.gov<br>
  <b>Consular District:</b> Liguria, Piedmont, Valle d'Aosta, Lombardy, Veneto, Trentino-Alto Adige, Friuli-Venezia Giulia, and the provinces of Parma and Piacenza in Emilia-Romagna.</p>

  <h3>U.S. Consular Agency Venice</h3>
  <p><b>Address:</b> Viale Galileo Galilei, 30, 30173 Tessera, Italy<br>
  <b>Phone:</b> (+39) 041-541-5944<br>
  <b>Emergency After-Hours Phone:</b> Please contact the U.S. Consulate General in Milan<br>
  <b>Email:</b> uscitizensvenice@state.gov<br>
  <b>Consular Hours:</b> Monday through Thursday, 10:00 AM–4:00 PM by appointment only.</p>
</section>

<section id="Central-Italy">
  <h2>Central Italy</h2>

  <h3>U.S. Consulate General Florence</h3>
  <p><b>Address:</b> Lungarno Amerigo Vespucci, 38, 50123 Firenze, Italy<br>
  <b>Phone:</b> (+39) 055-266-951<br>
  <b>Emergency After-Hours Phone:</b> (+39) 055-266-951<br>
  <b>Email:</b> uscitizensflorence@state.gov<br>
  <b>Consular District:</b> Tuscany, Emilia-Romagna (except the Provinces of Piacenza and Parma), and the Republic of San Marino.</p>
</section>

<section id="Southern-Italy-and-Islands">
  <h2>Southern Italy and Islands</h2>

  <h3>U.S. Consulate General Naples</h3>
  <p><b>Address:</b> Piazza della Repubblica, 80122 Napoli, Italy<br>
  <b>Phone:</b> (+39) 081-583-8111<br>
  <b>Emergency After-Hours Phone:</b> (+39) 081-583-8111<br>
  <b>Email:</b> uscitizensnaples@state.gov<br>
  <b>Consular District:</b> Campania, Molise, Basilicata, Puglia, Calabria, and Sicily.</p>

  <h3>U.S. Consular Agent Palermo</h3>
  <p><b>Address:</b> Via Vaccarini, 1, 90143 Palermo, Italy<br>
  <b>Phone:</b> (+39) 091-305-857<br>
  <b>Emergency After-Hours Phone:</b> Please contact the U.S. Consulate General in Naples<br>
  <b>Email:</b> uscitizenspalermo@state.gov<br>
  <b>Consular Hours:</b> Monday through Friday, 9:00 AM–12:30 PM by appointment only.</p>
</section>

<section id="Other-Offices">
  <h2>Other Offices</h2>

  <h3>U.S. Consular Agent Genoa</h3>
  <p><b>Address:</b> Via Dante, 2, 16121 Genova, Italy<br>
  <b>Phone:</b> (+39) 010-584-492<br>
  <b>Emergency After-Hours Phone:</b> Please contact the U.S. Consulate General in Milan<br>
  <b>Fax:</b> (+39) 010-553-3033<br>
  <b>Consular Hours:</b> Monday through Thursday, 11:00 AM–3:00 PM.</p>

  <h3>U.S. Consular Agent Trieste</h3>
  <p><b>Address:</b> Via Roma, 15, 34132 Trieste, Italy<br>
  <b>Phone:</b> (+39) 040-379-4111<br>
  <b>Emergency After-Hours Phone:</b> Please contact the U.S. Consulate General in Milan<br>
  <b>Fax:</b> (+39) 040-379-4112<br>
  <b>Consular Hours:</b> Monday through Friday, 9:00 AM–12:30 PM by appointment only.</p>
</section>

<p>These consular offices provide a range of services to American citizens, including passport issuance, emergency assistance, and notarial services. They also facilitate trade and diplomatic relations between the United States and Italy.</p>
{% endblock %}
