{# Comparison Overview - Basic statistics for each province #}

<div class="table-container mb-4">
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Metric</th>
        {%- for item in comparisonItems -%}
        <th>
          <a href="/province/{{ item.slug }}">{{ item.name }}</a>
        </th>
        {%- endfor -%}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Region</strong></td>
        {%- for item in comparisonItems -%}
        <td><a href="/region/{{ item.region | toSlug }}">{{ item.region }}</a></td>
        {%- endfor -%}
      </tr>
      <tr>
        <td><strong>Population</strong></td>
        {%- for item in comparisonItems -%}
        <td>{{ item.population | formatNumber }}</td>
        {%- endfor -%}
      </tr>
      <tr>
        <td><strong>Area (km²)</strong></td>
        {%- for item in comparisonItems -%}
        <td>{{ item.area | round(0) }}</td>
        {%- endfor -%}
      </tr>
      <tr>
        <td><strong>Density (per km²)</strong></td>
        {%- for item in comparisonItems -%}
        <td>{{ (item.population / item.area) | round }}</td>
        {%- endfor -%}
      </tr>
      <tr>
        <td><strong>Capital</strong></td>
        {%- for item in comparisonItems -%}
        <td>{{ item.capital }}</td>
        {%- endfor -%}
      </tr>
    </tbody>
  </table>
</div>

<div class="columns is-multiline">
  {%- for item in comparisonItems -%}
  <div class="column is-full-mobile is-half-tablet">
    <div class="box">
      <p class="heading has-text-centered">{{ item.name }}</p>
      <p class="title is-4 has-text-centered">{{ item.population | formatNumber }}</p>
      <p class="is-size-7 has-text-centered has-text-grey">Population</p>
    </div>
  </div>
  {%- endfor -%}
</div>
