<div class="tabs effect-3">
<input type="radio" id="tab-1" name="tab-effect-3" checked="checked">
<span>Quality of Life</span>
<input type="radio" id="tab-2" name="tab-effect-3">
<span>Cost of Living</span>
<input type="radio" id="tab-3" name="tab-effect-3">
<span>Digital Nomads</span>
<input type="radio" id="tab-4" name="tab-effect-3" disabled>
<span></span>
<input type="radio" id="tab-5" name="tab-effect-3" disabled>
<span></span>
<div class="line ease"></div>
<div class="tab-content">
<section id="Quality-of-Life" class="columns is-mobile is-multiline">
<div class="column">{{tab1col1 | safe}}</div>
<div class="column">{{tab1col2 | safe}}</div>
</section>
<section id="Cost-of-Living" class="columns is-mobile is-multiline">
<div class="column">{{tab2col1 | safe}}</div>
<div class="column">{{tab2col2 | safe}}</div>
</section>
<section id="Digital-Nomads" class="columns is-mobile is-multiline">
<div class="column">{{tab3col1 | safe}}</div>
<div class="column">{{tab3col2 | safe}}</div>
</section>
</div>
</div>
