{# Town Attractions Section - Points of interest and tourist attractions #}

<div class="content">
  <h3 class="title is-4">Main Attractions</h3>
  
  {%- if attractions and attractions.length > 0 -%}
  <div class="columns is-multiline">
    {%- for attraction in attractions -%}
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            {%- if attraction.image -%}
            <img src="{{ attraction.image }}" alt="{{ attraction.name }}">
            {%- else -%}
            <img src="/img/placeholder-attraction.png" alt="Attraction placeholder">
            {%- endif -%}
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-5">{{ attraction.name }}</p>
          <p class="is-size-7 has-text-grey">{{ attraction.type }}</p>
          <p class="content is-size-7">{{ attraction.description }}</p>
          {%- if attraction.url -%}
          <a href="{{ attraction.url }}" target="_blank" rel="noopener noreferrer" class="button is-small is-info">
            Learn more <span class="icon is-small"><i class="fas fa-external-link-alt"></i></span>
          </a>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
  {%- else -%}
  <div class="notification is-info">
    <p>Attraction information is being compiled for {{ town.name }}. Please check back soon.</p>
  </div>
  {%- endif -%}

  <h4 class="title is-5 mt-5">Getting Around</h4>
  <p>Most attractions in {{ town.name }} are easily accessible by public transport or short walks from the town center. We recommend:</p>
  <ul>
    <li>Walking tours of the historic center</li>
    <li>Public bus system for longer distances</li>
    <li>Car rentals for exploring the surrounding countryside</li>
    <li>Bicycle rentals for scenic routes</li>
  </ul>
</div>
