RewriteEngine on
RewriteRule ^province/verbano-cusio-ossola.html$ province/verbano-cusio-ossola/ [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+)/?$ $1.html [NC,L]