
.form-row>div>label{
  font-size:18px;
  color:var(--darkest);
  margin-left:2px;
  float:left;
  margin-bottom:0;
  font-weight:600
}

h2.title{
  padding-bottom:10px;
  margin-top:21px;
  color:var(--darkest)
}


.button{
  padding:5px;
  padding-right:8px;
  background-color:var(--medium-1);
  border-radius:8px;
  text-transform:uppercase;
  opacity:0.85;
  font-size:15px;
  letter-spacing:.5px
}

@media only screen and (min-width: 768px){
  .button,.codice{max-width:300px;}
}
@media only screen and (max-width: 768px){
  label > br{display:none}
}
.subtitle{
  font-size:18px;
  text-align:center;
  width:100%;
}

.quicklink{
  color:var(--medium-1);
  border-bottom: 3px dashed var(--medium-1);
  padding:0;
  border-left: 6px solid var(--medium-1);
  border-top:none;border-right:none;
}
.quicklink:hover{
  border-color:var(--darkest);
  color:var(--darkest);
}
