RewriteEngine on
RewriteRule ^province/monza-e-brianza/$ province/monza-e-brianza.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+)/?$ $1.html [NC,L]